{# Base trading rules #}
{% include 'system/base_rules.j2' %}

{# Risk management rules #}
{% include 'system/risk_management.j2' %}

{# Technical information and current state #}
{% include 'system/technical.j2' %}

{# Validation rules #}
{% include 'system/validation.j2' %}